<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU8f9H2HiByBJHKUBWz_S5UqvUPMREYcY</string>
	<key>GCM_SENDER_ID</key>
	<string>46229639644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vonalcoffee.vonalCoffee</string>
	<key>PROJECT_ID</key>
	<string>vonalcoffee</string>
	<key>STORAGE_BUCKET</key>
	<string>vonalcoffee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46229639644:ios:7849f14f53fdfc57227f19</string>
</dict>
</plist>